* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
}

header {
    padding: 1.5rem;
}

header, main, footer{
    margin: 1.25rem auto;
    align-items: center;
    max-width: 32.5em;
}

header, footer {
    background-color: #3f47ac;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

h3 {
    color: white;
    background-color: #3f47ac;
    border: black 1px solid;
    border-radius: 2.5%;
    margin: 5px;
    font-size: .75em;
}

.rule-of-thirds, .parc-proximity, .parc-alignment {
    background-color: #d3d3d3;
    border-radius: 2.5%;
    border: #000000;
    border-style: solid;
    margin: 1em;
}

img {
    max-height: 600px;
    border: 1px;
    align-content: center;
}

p {
    font-size: smaller;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    color: white;
}