h1,
footer {
  text-align: center;
}

h1 {
  border-bottom: 5px black solid;
  padding-bottom: 15px;
}

footer {
  border-top: 5px black solid;
  padding-top: 15px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  text-align: center;
}

#cards section {
  border: 2px black solid;
  margin: 5px;
  background-color: #e6d7ff;
}
