@media only screen and (min-width: 800px) {
  .herolabel-medium {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: radial-gradient(#fff, var(--primary-color));
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
  }

  .herolabel-medium p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 0.75rem;
  }

  .herolabel-small,
  .herolabel-large {
    display: none;
  }
}
