@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* colors */
  --primary-color: #537188;
  --secondary: #011936;
  --accent1: #f7f0f0;
  --accent2: #c05746;
}

* {
  font-family: "Poppins", sans-serif;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

h1::before,
h1::after {
  content: "🔥";
}

header {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  color: var(--accent1);
  background-color: var(--primary-color);
  border: black 2px solid;
}

header img {
  flex: 33%;
  width: 10px;
  align-items: flex-start;
  align-self: center;
}

header h1 {
  flex: 66%;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

#menu::before {
  content: "≡";
}

nav {
  display: block;
  background-color: var(--secondary);
  color: var(--accent1);
  border: black 2px solid;
  text-decoration: none;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

.nav-list {
  flex-direction: row;
}

main {
  text-align: center;
  max-width: 650px;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.herolabel {
  position: absolute;
  top: 30px;
  right: 30px;
  background: radial-gradient(#fff, var(--primary-color));
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

.herolabel p {
  margin: 0;
  padding: 0.25rem;
  font-weight: 700;
  font-size: 0.75rem;
}

h3 {
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--accent1);
}
.card {
  border: var(--secondary) 2px solid;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.form {
  border: #000 2px solid;
  padding: 20px;
  margin: 20px;
}

.form label,
input,
span {
  float: left;
}

.form label {
  clear: left;
  display: block;
}

.record-form {
  border: #000 2px solid;
  padding: 20px;
  margin: 20px;
}
