.form {
  border: #000 2px solid;
  padding: 20px;
  margin: 20px;
}

.form label,
input,
span {
  float: left;
}

.form label {
  clear: left;
  display: block;
}

.record-form {
  border: #000 2px solid;
  padding: 20px;
  margin: 20px;
}
